
    <div class="navigation">
      <nav class="navbar navbar-dark  bg-purple">
          <div class="container-fluid">
            <span class="navbar-brand float-rigth mb-0 h1"><a (click)="route('start')">bont_id</a></span>
            <form class="d-flex">
                <a  class="search" ><i class="bi bi-search"></i></a>
            </form>
          </div>
      </nav>
    </div>


    <div class="container-fluid">

        <div class="cont">
          <h3>Veuillez sélectionner la source de la vidéo</h3>
          <div class="parent-div">
            <button class="btn-upload btn btn-primary"><i class="bi bi-image-fill"></i> Galerie</button>
            <input type="file" name="video" accept="video/*" >
          </div>
          <div class="parent-div">
            <button (click)="route('camera')"  class="btn-upload btn btn-primary"><i class="bi bi-camera-fill"></i> Camera</button>
            <!-- <input type="file" name="video" accept="video/*" capture>  -->
          </div>
        </div>
      <div class="img">
        <img src="../../assets/image2.png" alt="">
      </div>

    </div>
    <p>Sélectionner la souce vidéo pour éffectuer la reconnaissance vidéeo</p>


  <video src="video" width="720" height="560" autoplay muted id="video"> </video>
